.nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 15px 75px 15px 20px;
  width: 260px;

  font-weight: 600;
  color: white;

  background-color: #1992D4;
}

.menu-item, .logo {
  display: grid;
  grid-template-columns: 30px;
  grid-auto-flow: column;
  align-items: center;
  gap: 15px;
}

.logo-text {
  font-size: 1.5rem;
}

.logo-img {
  min-width: 40px;
  max-width: 40px;
}

.menu-list img, .logo-img {
  justify-self: center;
}

.menu-list {
  display: grid;
  gap: 10px;

  font-size: 1.2rem;

  list-style-type: none;
}

.menu-list img {
  width: 20px;
}
